<div class="main-container hidden" id="mainContainer">
    <img id="hugger" src="" class="hugger" />
    <img id="huggee" src="" class="huggee" />
    <img id="huggerHat" src="" class="hugger hat" />
    <img id="huggeeHat" src="" class="huggee hat" />
    <img id="huggerHeart" src="https://gitlab.com/Knakra/streamelementswidgets/-/raw/main/assets/hug_heart_left.png"
        class="hugger heart" />
    <img id="huggeeHeart" src="https://gitlab.com/Knakra/streamelementswidgets/-/raw/main/assets/hug_heart_right.png"
        class="huggee heart" />
</div>