.mainContainer {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.mainContainer.hidden {
    display: none;
}

.heart {
    opacity: 0;
    size: 20%;
}

.hat {
    position: absolute;
    width: 15%;
    height: auto;
    margin-top: -5%;
}

.hugger.hat{
    margin-left: 8%;
}

.huggee.hat {
    transform: scaleX(-1);
    margin-right: 8%;
}

.hugger {
    position: absolute;
    top: 20%;
    left: 1%;
}

.huggee {
    position: absolute;
    top: 20%;
    right: 1%;
}

/* With these two we override the hearts position */
.hugger.heart {
    top: 40%;
}

.huggee.heart {
    top: 40%;
}

.hugger.animate {
    animation: hugger-animation 3000ms;
}

.huggee.animate {
    animation: huggee-animation 3000ms;
}

.hugger.hat.animate {
    animation: hugger-animation 3000ms;
}

.huggee.hat.animate {
    animation: huggee-animation 3000ms;
}

.hugger.heart.animate {
    animation: hugger-heart-animation 3000ms;
}

.huggee.heart.animate {
    animation: huggee-heart-animation 3000ms;
}

@keyframes hugger-animation {
    33% {
        left: 10%;
    }

    66% {
        opacity: 1;
        left: 27%;
    }

    100% {
        opacity: 0;
        left: 27%;
    }
}

@keyframes huggee-animation {
    33% {
        right: 10%;
    }

    66% {
        opacity: 1;
        right: 27%;
    }

    100% {
        opacity: 0;
        right: 27%;
    }
}

@keyframes hugger-heart-animation {
    33% {
        opacity: 0.3;
        left: 15%;
    }

    66% {
        opacity: 0.8;
        left: 35%;
    }

    100% {
        left: 35%;
    }
}

@keyframes huggee-heart-animation {
    33% {
        opacity: 0.3;
        right: 15%;
    }

    66% {
        opacity: 0.8;
        right: 35%;
    }

    100% {
        right: 35%;
    }
}