<div class="main-container hidden" id="main-container">
    <img src="" class="bonkee" id="bonkee" />
    <img src="https://gitlab.com/Knakra/streamelementswidgets/-/raw/main/assets/bonkBat.png" class="bat" id="bat" />
    <audio src="https://gitlab.com/Knakra/streamelementswidgets/-/raw/main/assets/pentabonk.mp3" id="sound" />
</div>