.main-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.main-container.hidden {
    display: none;
}

.bat {
    position: absolute;
    bottom: 50%;
    left: 20%;
    transition: all 1000ms;
    transform: rotate(0deg);
    transform-origin: 100% 100%;
    display: block;
    height: 50%;
}

.bat.animate {
    animation: bonk-animation 1000ms;
}

/* every 200ms, one bonk will happen (assuming the animation goes 1000ms)*/
@keyframes bonk-animation {
    10% { transform: rotate(0deg); }
    20% { transform: rotate(-35deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(-43deg); }
    50% { transform: rotate(0deg); }
    60% { transform: rotate(-50deg); }
    70% { transform: rotate(0deg); }
    80% { transform: rotate(-53deg); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(-60deg); }
}

.bonkee {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 50%;
    object-position: left;
    transition: all 1000ms;
}

.bonkee.animate {
    animation: bonkee-animation 1000ms;
}

@keyframes bonkee-animation {
    17% { height: 50%; }
    20% { height: 40%; }

    37% { height: 40%; }
    40% { height: 30%; }

    57% { height: 30%; }
    60% { height: 20%; }

    77% { height: 20%; }
    80% { height: 10%; }

    97% { height: 10%; }
    100% { height: 5%; }
}